.smex-items
*~
\#*.*\#
ido.last
places
elpa
.recentf
cider-history
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups
eshell
url
ac-comphist.dat
ede-projects.el
abbrev_defs
*.elc
bookmarks
server
persistent-scratch
network-security.data
ensime
transient
amx-items
